* {
    outline: solid lightcyan;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.hero-title, .header{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-title {
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    flex-basis: 100%;
    margin-bottom: 50px;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 0;
    text-decoration: none;
    margin-left: 20px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
}

.intro-text > button {
    color: #F9FAF8;
    background-color: #3882F6;
    max-width: 100px;
    border-radius: 5px;
    border: none;
}

.intro-block {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
}