* {
    
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.hero-title, .header{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-title {
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    flex-basis: 100%;
    margin-bottom: 50px;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 0;
    text-decoration: none;
    margin-left: 20px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
}

.intro-text > button {
    color: #F9FAF8;
    background-color: #3882F6;
    max-width: 100px;
    border-radius: 5px;
    border: none;
}

.intro-block {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
}

.info-header {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    justify-content: center;
}

.info-containers {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-bottom: 100px;
}

.info-container {
    display: flex;
    max-width: min-content;
    flex-wrap: wrap;
}

.info-container > img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    max-width: 900px;
    margin-bottom: 0%;
}

.quotee {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    min-width: 900px;
    margin-top: 0%;
}


