* {

}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.hero-title, .header{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    flex-basis: 100%;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 0;
    text-decoration: none;
    margin-left: 20px;
}

.intro-block {

}