* {

}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    background-color: #1F2937;
    flex-basis: 100%;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 0;
    text-decoration: none;
    margin-left: 20px;
}